<html>
<head>
    <meta charset="UTF-8">
    <title>Directives</title>
</head>
<body ng-app="myApp">
    <div ng-controller="Controller">
        <label for="name">change the name :</label>
        <input type="text" name="name" ng-model="customer.name"><br>
        <my-customer type="name"></my-customer>  <br>      
        <label for="address">change the address :</label>
        <input type="text" name="address" ng-model="customer.address"><br>
        <my-customer type="address"></my-customer>        
        
        
    </div>
<script src="bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>